---
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/lightbox.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="shortcut icon" href="/assets/img/favicon.ico" />

  <!-- <script src="{{ "/assets/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script> -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="{{ "/assets/js/lightbox.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/functions.js" | prepend: site.baseurl }}"></script>

</head>
<body>

<header>
	<div class="bkg"></div>

	<div class="logo"><img src="{{ "/assets/img/logo2.png" | prepend: site.baseurl }}" alt="logo"></div>

	<div class="navcontainer">
		<ul class="nav">
			<li><a href="#about">About</a></li>
			<!-- <li><a href="#fields">Fields</a></li> -->
			<li><a href="#work">Work</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</div>

</header>

<div class="contentWrap">
<section id="about" class="about">
	<h3>ABOUT.</h3>
	<p>
		<strong>Neil Charran Warehousing and Logistics Service</strong>  an established and Effective Organization with 30 years Experience and Internationally Trained in <em>Materials Management</em> , <em>Warehousing Inventory</em> , <em>Construction Site Management</em> and <em>Site Setups</em>. Our Efficient and Professional Staff operate with one Objective and that is to appease all avenues in carrying out the Movement and Co-ordination of Materials , and all aspects of Operations that deal with design and development , acquisitions , Storage ,distribution ,evacuation and disposition of Materials , adhering to all OSH Health an Safety Rules and Regulations.

	</p>
</section>

<div class="division">

</div>

<section id="work" class="work">
	<h3>WORK.</h3>
	<div class="workcontainer">
		<div class="work1">
			<!-- <div class="sectionimage"><img src="assets/img/img3.jpg" alt="img3"></div> -->
			<p>Our Competent and reliable Staff is internationally trained  and Certified in Materials Co-ordination, Materials Management , as a Priority the Objective is to be Traceable and Accountable in our businesses at hand with the highest level of Integrity.</p>		

		</div>
	</div>
	<div class="photos">
		<a href="{{ "/assets/img/img1.JPG" | prepend: site.baseurl }}"  data-lightbox="ncwls">
			<img src="{{ "/assets/img/img1.JPG" | prepend: site.baseurl }}" alt="ncwls_photo">
		</a>

		<a href="{{ "/assets/img/img2.JPG" | prepend: site.baseurl }}"  data-lightbox="ncwls">
			<img src="{{ "/assets/img/img2.JPG" | prepend: site.baseurl }}" alt="ncwls_photo">
		</a>

		<a href="{{ "/assets/img/img5.JPG" | prepend: site.baseurl }}"  data-lightbox="ncwls">
			<img src="{{ "/assets/img/img5.JPG" | prepend: site.baseurl }}" alt="ncwls_photo">
		</a>

		<a href="{{ "/assets/img/img3.JPG" | prepend: site.baseurl }}"  data-lightbox="ncwls">
			<img src="{{ "/assets/img/img3.JPG" | prepend: site.baseurl }}" alt="ncwls_photo">
		</a>

	</div>


</section>

<div class="division">

</div>

<section id="contact" class="contact">

	<h3>CONTACT.</h3>

	<div class="contact-more">
		<div class="phone"><p><strong><u>Neil Charran</u></strong> <br> <br> phone : +1 (868) 687-6345</p><p> email : <a href="mailto:ncharran@ymail.com">ncharran@ymail.com</a></p></div>

		<p class="ps"><em>| or use the form below to directly send an email |</em></p>
	</div>

	<div class="formcontainer">
		<form method="POST" action="//formspree.io/ncharran@ymail.com">
	
			<div class="contact_group">
				<label>
			    	<input type="text" name="name" placeholder="Enter Your Name">
				</label>
	
			    <label>
			    	<input type="email" name="_replyto" placeholder="Enter Your Email">
				</label>
		    </div>
		    
		    <label>
		    	<textarea name="message" placeholder="Enter Your Message"></textarea>
			</label>
	
		    <label>
		    	<input type="submit" value="Send">
		    </label>
		</form>
	</div>

</section>
</div>

<footer>
	<div class="footnotes">
		<div class="facebook">
	</div>
		<h3>Neil Charran Warehousing and Logistics Service</h3>
		<h4></em>"{{ site.mission }}"</em></h4>
		<p>all rights reserved 2020 ©</p>
		<p>Designed and Developed by Josiah Maharaj</p>
	</div>	
</footer>

</body>
</body>
</html>
